{% extends "layout.html" %}
{% block body %}
    <h2>New Entry</h2>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <form action="{{ url_for('new') }}" method="post">
        <textarea rows="10" cols="60" name="entry"></textarea><br />
        <input type="submit" value="Add" class="btn" />
    </form>
    <hr />
    <h2>Recent Entries</h2>
    {% for entry in entries %}
    <div class="entry">
        <h3>{{ entry.date }}</h3>
        <p>{{ entry.body }}</p>
    </div>
    {% else %}
    <p><strong>No entries found.</strong></p>
    {% endfor %}
    <hr />
    <a href="{{ url_for('all') }}">view all entries</a><br />
{% endblock %}
