<!doctype html>
<html>
    <head>
        <title>A Journal</title>
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='style.css') }}" />
        <link rel="stylesheet" type="text/css"
            href="https://fonts.googleapis.com/css?family=PT+Serif+Caption" />
        <link rel="stylesheet" type="text/css"
            href="https://fonts.googleapis.com/css?family=PT+Serif" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav>
            {% block menu %}
            {% endblock %}
            {% if session.logged_in %}
                <a href="{{ url_for('logout') }} ">log out</a>
            {% else %}
                <a href="{{ url_for('login') }} ">log in</a>
            {% endif %}
        </nav>
        <section class="page">
            <header>
                <h1>A Journal</h1>
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </header>
            <section class="body">
                {% block body %}
                {% endblock %}
            </section>
        </section>
    </body>
</html>
